<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=fallback" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
    <link rel="icon" type="image/png" href='/images/favicon.ico'>
    <title>{{error_code}} {{error_title}}</title>
</head>
<body>
    <div class='error-page'>
        <div class='landing-text'>
            <h1>{{error_code}}.</h1>
            <h3>{{error_title}}.</h3>
            <p>{{error_desc}}</p>
            <div class='home-button-bg'>
                <a href='{{ url_for("home") }}' class='cta'>Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>