<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content="I'm Fraser Love, a 17 year-old computer science student and software developer who enjoys reading theoretical computer science, developing software and library programming in Python and C++ and creating technology videos 
    on youtube. I am especially interested in physics simulations, graphics engines, artificial intelligence and quantum computing.">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=fallback" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
    <link rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css'/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="icon" type="image/png" href='/images/favicon.ico'>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Fraser Love</title>
</head>
<body>
    <div class='site'>
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    <div class='flash {{ category }}'>
                        <h3>{{ msg }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class='menu-toggler'>
            <div class='bar half start'></div>
            <div class='bar'></div>
            <div class='bar half end'></div>
        </div>
        <nav class='top-nav'>
            <ul class='nav-list'>
                <li>
                    <button class='about-link nav-link'>
                        <i class='nav-link'>About</i>
                    </button>
                </li>
                <li>
                    <button class='development-link nav-link'>
                        <i class='nav-link'>Development</i>
                    <button'>
                </li>
                <li>
                    <button class='youtube-link nav-link'>
                        <i class='nav-link'>Youtube</i>
                    <button'>
                </li>
                <li>
                    <button class='publications-link nav-link'>
                        <i class='nav-link'>Publications</i>
                    <button'>
                </li>
                <li>
                    <button class='contact-link nav-link'>
                        <i class='nav-link'>Contact</i>
                    <button>
                </li>
            </ul>
        </nav>
        <div class='landing-text'>
            <h1>fraser.love</h1>
            <h6>CS Student and Software Developer</h6>
        </div>
        <button class='page-down'>
            <i class='fa fa-5x fa-angle-down'></i>
        </button>
    </header>

    <section class='about'>
        <div class='container'>
            <div class='about-details'>
                <div class='section-heading'>
                    <h1>About Me</h1>
                </div>
                <p>
                    <b>Hello!</b> My name is <b>Fraser Love</b> and I'm a {{ dob_delta }} year-old Joint Maths and Computer Science Student from the UK who enjoys reading theoretical computer science, 
                    developing software and library programming. Within computer science I am especially interested in physics simulations, graphics engines, artificial intelligence and quantum computing. 
                    I am currently in my first year of a three year degree in Mathematics and Computer Science at the University of St Andrews.
                </p><p>
                    I have been programming for {{ started_programming_delta }} years and throughout that time have created numerous programs 
                    in Python, C++ and Java. I find library programming most enjoyable because I love getting into the 
                    hard low level operations of computers and creating code which can be used and built upon by the community. I currently 
                    run Ubuntu 18.04 and Windows 10 in a dual-boot setup on my computer with MacOS on my laptop.
                </p><p>
                    I have been uploading to my YouTube channel for {{ started_youtube_delta }} years and in that time I have created {{ no_videos }} videos, about programming 
                    and technology in general. The channel currently has {{ subs }} subscribers and {{ views }} views to which I try and upload to when I have the time. If 
                    you have any questions or want to contact me for another reason you can find a contact form at the bottom of the webpage.
                </p>
                <h6>Computer Specification</h6>
                <table>
                    <tr>
                        <td><b>CPU</b></td>
                        <td class='s-row'>Intel Core i5-8600K 3.6GHz (5.0GHz OC)</td>
                    </tr>
                    <tr>
                        <td><b>GPU</b></td>
                        <td class='s-row'>ASUS STRIX 6GB GTX 1070 Ti</td>
                    </tr>
                    <tr>
                        <td><b>RAM</b></td>
                        <td class='s-row'>Corsair Vengeance RGB DDR4 3000 MHz 2 x 8 GB</td>
                    </tr>
                    <tr>
                        <td><b>Motherboard</b></td>
                        <td class='s-row'>Asrock Z370 Extreme4</td>
                    </tr>
                    <tr>
                        <td><b>AIO Cooler</b></td>
                        <td class='s-row'>NZXT Kraken X52 240mm</td>
                    </tr>
                    <tr>
                        <td><b>SSD</b></td>
                        <td class='s-row'>WD Blue 250GB M.2 SSD, PNY CS1311 240GB 2.5" SSD</td>
                    </tr>
                    <tr>
                        <td><b>PSU</b></td>
                        <td class='s-row'>EVGA 1000W GQ Gold PSU</td>
                    </tr>
                    <tr>
                        <td><b>Case</b></td>
                        <td class='s-row'>White NZXT H510 ATX Mid Tower Case</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class='development'>
        <div class='container'>
            <div class='section-heading'>
                <h1>Development</h1>
                <h6>I design and develop open source software written in Python and C++.</h6>
            </div>
            <ul>
                <li>
                    <h2>{{ public_repos }}</h2>
                    <h3>Repositories</h3>
                </li>
                <li>
                    <h2>{{ total_sloc }}</h2>
                    <h3>Total SLOC</h3>
                </li>
                <li>
                    <h2>{{ total_changes }}</h2>
                    <h3>Total Changes</h3>
                </li>
                <li>
                    <h2>{{ total_commits }}</h2>
                    <h3>Total Commits</h3>
                </li>
                <li>
                    <div class='profile-bd'>
                        <a href='https://github.com/fraserlove'><img src='{{ gh_profile }}' alt=''></a>
                    </div>
                </li>
                <li>
                    <h2>{{ total_additions }}</h2>
                    <h3>Total Additions</h3>
                </li>
                <li>
                    <h2>{{ total_deletions }}</h2>
                    <h3>Total Deletions</h3>
                </li>
                <li>
                    <h2>{{ created_at }}</h2>
                    <h3>Created</h3>
                </li>
            </ul>
            <div class='yearly-stats-heading'>
                <h3>Yearly Stats</h3>
            </div>
            <ul class='extra-stats'>
                <li>
                    <h2>{{ yearly_commits }}</h2>
                    <h3>Yearly Commits</h3>
                </li>
                <li>
                    <h2>{{ yearly_additions }}</h2>
                    <h3>Yearly Additions</h3>
                </li>
                <li>
                    <h2>{{ yearly_deletions }}</h2>
                    <h3>Yearly Deletions</h3>
                </li>
                <li>
                    <h2>{{ yearly_changes }}</h2>
                    <h3>Yearly Changes</h3>
                </li>
                <li>
                    <h2>{{ yearly_sloc }}</h2>
                    <h3>Yearly SLOC</h3>
                </li>
            </ul>
            <div class='yearly-stats-heading'>
                <h3>Portfolio</h3>
            </div>
            <div class='portfolio-container'>
                <div class="swiper-container-portfolio">
                    <div class="swiper-wrapper">
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>FL3D - 3D Rendering Engine</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/fl3d-engine.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Projects 3D objects made up of vertices, edges and surfaces onto a 2D display 
                                        and allows for object rotation, scaling and transation. Features a full GUI, world space lighting, saving and importing 
                                        world sapces.
                                    </p>
                                    <a href='https://github.com/fraserlove/fl3d-engine' class='cta'>Source Code</a>
                                    <a href='https://github.com/fraserlove/fl3d-engine/blob/master/docs/dev-report.pdf' class='cta'>Documentation</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Sorting Algorithm's Time Complexity Graphing</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/time-complexity-visualiser.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Graphs the time it takes for eleven sorting algorithms to sort through an array of ever increasing length to see
                                        which algorithm scales best as the number of elements increases.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/sorting-algorithms-and-visualisers/sorting-algorithm-time-complexity-graph' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=zGPKlSowtQ0' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Sorting Algorithm Visualiser</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/sorting-algorithm-visualiser.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Displays an array being sorted by one of eleven sorting algorithms to visualise the algorithmic process of each
                                        algorithm.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/sorting-algorithms-and-visualisers/sorting-visualiser' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=VYsJvfcipnU&t=130s' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>2D Gravity Simulation</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/gravity-simulation.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Simulates particles of random mass interacting and colliding with eachother using Newton's laws of motion and gravitation 
                                        with calculus.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/simulations-and-generators/gravity-2d-simulation' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Solar System Simulation</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/solar-system.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Simulates the orbits of planets in our solar system using the same Newtonian physics that the 2D gravity simulation uses.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/simulations-and-generators/solar-system-2d-simulation' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>3D Wireframe Engine</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/3d-wireframe-engine.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Projects 3D wireframes onto a 2D display in an orthographic projection. Allows for camera movement with object
                                        scaling and translation.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/graphics-and-games/3d-wireframe-engine' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Perlin Noise Terrain Generation</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/perlin-noise-terrain-generation.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Creates a infinite terrain using perlin generation to simulate real world terrain.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/simulations-and-generators/perlin-noise-terrain-generator' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Perlin Noise Flow Field</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/perlin-noise-flow-field.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Simulates particles flowing through a field created with perlin noise and draws their movement 
                                        in a window.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/simulations-and-generators/perlin-noise-flow-field' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Fractal Tree Generator</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/fractal-trees.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Creates unique fractal trees by infinitely branching off the tree root with some random branch lengths
                                        and angles to better simulate real trees.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/simulations-and-generators/fractal-trees-generator' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Conway's Game of Life</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/conways-game-of-life.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A cellular automaton with three basic rules used to simulate living organisms in a matrix of pixel values with two defined
                                        states, dead and alive. These basic rules create complex outcomes and approximate the movement of cellular life.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/cellular-automata/conways-game-of-life' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=YQyQyxtLvi8&t=68s' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Predator and Prey</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/predator-and-prey.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A cellular automaton used to simulate living organisms whereby one has the objective to multiply and the other has the objective to
                                        delete the other organism.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/cellular-automata/predator-and-prey' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=YQyQyxtLvi8&t=175s' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Wire World</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/wire-world.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A cellular automaton used to simulate electrical circuits whereby objects can travel down pre-defined wires. Complex logic can be created 
                                        using the basic rules combined with logic gates, giving rise to the ability to create basic calculators and computers within the automaton.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/blob/master/cellular-automata/wire_world' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=YQyQyxtLvi8&t=256s' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Langton's Ant</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/langtons-ant.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A cellular automaton that simulates an ant moving across a matrix of pixels according to a set of rules. The ant moves seemingly random based on 
                                        the rules to either turn left or right depending on the value of the pixel ahead which can have a binary value of true or false.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/blob/master/cellular-automata/langtons_ant' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=YQyQyxtLvi8&t=115s' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Brian's Brain</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/brians-brain.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A cellular automation that simulates moving and interaction organisms according to basic rules to create complex systems.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/blob/master/cellular-automata/brians_brain' class='cta'>Source Code</a>
                                    <a href='https://www.youtube.com/watch?v=YQyQyxtLvi8' class='cta'>Youtube</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Automatic Reporting Software</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/ees-project.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Specilised software that allow for the easy reporting of faults within manufacturing. The program includes automatic report filling with 
                                        ai speech to text and image to text assistance.
                                    </p>
                                    <a href='https://github.com/fraserlove/automatic-reporting-system/tree/master/src' class='cta'>Source Code</a>
                                    <a href='https://github.com/fraserlove/automatic-reporting-system/blob/master/docs/dev_report.pdf' class='cta'>Documentation</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Snake</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/snake.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A python implementation of the game snake where a user controls a snake and tries to eat food to get longer.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/graphics-and-games/2d-games/snake' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Neural Network Handworking Classifier</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/handwriting-classifier.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A neural network that classifies handwriting of the digits 0-9 from the mnist data set. The input and output layer have 784 and 10 
                                        nodes respectively and three hidden layers of 500 nodes each.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/machine-learning-and-ai/handwriting-classifier' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Quantum Full Adder</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/full-adder.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Uses quantum gates to add two qbits together. Firstly a truth table is printed to show the quantum full adder working properly and 
                                        then it adds two superpositions together. Is executed on the IMBQ experience quantum computers.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/quantum-algorithms/full-adder' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>ASCII to Base64 Encoder and Decoder</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/ascii-to-base64.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Encodes and decodes ASCII to Base64 without using pre defined functions to help understand the algorithm behind the program.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/general-algorithms/encoders-and-decoders/ascii-to-base64' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Huffman Coding Compression and Decompression</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/huffman-compression.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Compresses and decompresses any text based files using huffman compression and huffman trees.For compression the prgram generates a frequency dictionary based
                                        on the frequency of characters in the text file.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/general-algorithms/compression-algorithms/huffman-coding' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>MD5 Algorithm Implementation</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/md5.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        A python implementation of the MD5 hashing algorithm modeled from the RFC design at https://www.ietf.org/rfc/rfc1321.txt.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/general-algorithms/hashing-algorithms/md5' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Polynomial Constructor</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/polynomial-constructor.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        Creates a string to represent a polynomial that can be constructed from the rational roots passed in to the program. The roots passed in 
                                        can be fractions, decimals and recurring decimals.
                                    </p>
                                    <a href='https://github.com/fraserlove/python-algorithms-and-simulations/tree/master/general-algorithms/algebraic-algorithms/polynomial-constructor' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Stack Implementation Using Singly Linked Lists</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/stack.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        An C++ implementation of the stack abstract data structure using my own implementation of singly linked lists 
                                        to create a stack class.
                                    </p>
                                    <a href='https://github.com/fraserlove/data-structures/tree/master/Stack' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Singly Linked List Implementation</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/linked-list.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        An C++ implementation of the singly linked list data structure with an extra tail pointer included for constant time 
                                        insertion at the end of the linked list.
                                    </p>
                                    <a href='https://github.com/fraserlove/data-structures/tree/master/SinglyLinkedList' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Queue Implementation Using Singly Linked Lists</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/queue.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        An C++ implementation of the queue abstract data structure using my own implementation of singly linked lists 
                                        to create a queue class.
                                    </p>
                                    <a href='https://github.com/fraserlove/data-structures/tree/master/Queue' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Priority Queue Implementation Using Binary Heaps</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/priority-queue.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        An C++ implementation of the priority queue abstract data structure using binary heaps. Can be configured to be either 
                                        a max or min priority queue. Binary heaps are implemented using my own dynamic array class.
                                    </p>
                                    <a href='https://github.com/fraserlove/data-structures/tree/master/PriorityQueue' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>
                            <div class='portfolio-item'>
                                <h2>Dynamic Array Implementation Using Static Arrays</h2>
                                <div class='portfolio-img'>
                                    <img src='/images/portfolio/dynamic-array.webp' alt=''>
                                </div>
                                <div class='portfolio-description'>
                                    <p>
                                        An C++ implementation of the dynamic array abstract data structure using static arrays with dynamic resizing.
                                    </p>
                                    <a href='https://github.com/fraserlove/data-structures/tree/master/DynamicArray' class='cta'>Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='github-button-bg'>
                <a class='github-button' href='https://github.com/fraserlove'>View me on Github</a>
            </div>
            <div class='yearly-stats-heading'>
                <h3>Downloads</h3>
            </div>
            <ul>
                <li>
                    <div class='github-button-bg'>
                        <a class='github-button' href='/files/blocky-dodge.apk'>Blocky Dodge (Android APK)</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class='youtube'>
        <div class='container'>
            <div class='section-heading'>
                <h1>Youtube</h1>
                <h6>I create software and web tutorials, programming projects and technology guide videos.</h6>
            </div>
            <ul>
                <li>
                    <h2>{{ views }}</h2>
                    <h3>Views</h3>
                </li>
                <li>
                    <h2>{{ hours }}</h2>
                    <h3>Hours Uploaded</h3>
                </li>
                <li>
                    <h2>{{ likes }}</h2>
                    <h3>Likes</h3>
                </li>
                <li>
                    <div class='profile-bd'>
                        <a href='https://www.youtube.com/fraserlove'><img src='{{ yt_profile }}' alt=''></a>
                    </div>
                </li>
                <li>
                    <h2>{{ subs }}</h2>
                    <h3>Subs</h3>
                </li>
                <li>
                    <h2>{{ no_videos }}</h2>
                    <h3>Videos</h3>
                </li>
                <li>
                    <h2>{{ comments }}</h2>
                    <h3>Comments</h3>
                </li>
                <li>
                    <h2>{{ joined }}</h2>
                    <h3>Joined</h3>
                </li>
            </ul>
            <div class='uploads-heading'>
                <h3>Latest Uploads</h3>
            </div>
            <div class='uploads-container'>
                <div class="swiper-container-youtube">
                    <div class="swiper-wrapper">
                    {% for video_id, video_thumbnail in videos %}
                        <div class="swiper-slide">
                            <div id='video-{{ video_id }}' class="youtube-video-place embed-responsive embed-responsive-4by3 " data-yt-url="https://www.youtube.com/embed/{{ video_id }}?rel=0&showinfo=0&autoplay=1">
                                <div class='thumbnail' async style='background-image: url({{ video_thumbnail }});'></div>
                                <div class='play-button'>
                                    <i class='fa fa-play'></i>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class='channel-button-bg'>
                <a class='channel-button' href='https://www.youtube.com/fraserlove'>Visit Channel</a>
            </div>
        </div>
    </section>

    <section class='publications'>
        <div class='container'>
            <div class='section-heading'>
                <h1>Publications</h1>
                <h6>A collection of my written work for research and development.</h6>
            </div>
            <div class='publications-container'>
                <div class="swiper-container-publications">
                    <div class="swiper-wrapper">
                    {% for pdf in pdf_images %}
                        <div class="swiper-slide">
                            <a href='/files/{{ pdf }}.pdf'>
                                <img src='/images/pdf-images/{{ pdf }}.jpg'>
                                <div class='cover'>
                                    <i class='fa fa-expand'></i>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class='contact'>
        <div class='container'>
            <div class='section-heading'>
                <h1>Contact Me</h1>
                <h6>Collaberate with me or just ask a question.</h6>
            </div>
            <form action='/contact' method='POST' class='contact-form'>
                <label for='name'><b>Name:</b></label>
                <div class='form-bd'>
                    <div class='input-bg'>
                        <input type='text' id='name' name='name' placeholder='Enter your name...' required maxlength='60' minlength='3'>
                    </div>
                </div>
                <label for='email'><b>Email:</b></label>
                <div class='form-bd'>
                    <div class='input-bg'>
                        <input type='email' id='email' name='email' placeholder='Enter your email...' required maxlength='60' minlength='6'>
                    </div>
                </div>
                <label for='message'><b>Message:</b></label>
                <div class='form-bd'>
                    <div class='form-bg'>
                    <textarea name='message' id='message' cols='10' rows='15' maxlength='5000' required minlength='20'></textarea>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                <div class='submit-button-bg'>
                    <input type='submit' value='submit'>
                </div>
            </form>
        </div>
    </section>

    <footer class='copyright'>
        <div class='footer-bd'>
            <button class='page-up'>
                <i class='fa fa-5x fa-angle-up'></i>
            </button>
            <div class='social-media'>
                <ul>
                    <li>
                        <a href='https://github.com/fraserlove' class='icon-link'>
                            <i class='fa fa-github'></i>
                        </a>
                    </li>
                    <li>
                        <a href='https://twitter.com/fraserrlove' class='icon-link'>
                            <i class='fa fa-twitter'></i>
                        </a>
                    </li>
                    <li>
                        <a href='https://www.youtube.com/fraserlove' class='icon-link'>
                            <i class='fa fa-youtube-play'></i>
                        </a>
                    </li>
                    <li>
                        <a href='https://www.paypal.me/fraserrlove' class='icon-link'>
                            <i class='fa fa-paypal'></i>
                        </a>
                    </li>
                    <li>
                        <a href='https://www.instagram.com/fraserrlove' class='icon-link'>
                            <i class='fa fa-instagram'></i>
                        </a>
                    </li>
                    <li>
                        <a href='mailto:me@fraser.love' class='icon-link'>
                            <i class='fa fa-envelope'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p>&copy; 2020 Fraser Love<br><br></p>
        </div>
    </footer>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    <script src='/js/main.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>